<!-- Criaçãod a Tabela e utilização das classes do Bootstrap -->
<table class="table table-dark">
  <thead class="thead-dark">
    <tr>
      <!-- Colunas de indicadores -->
      <th>Nome</th>
      <th>RU</th>
      <th>Descrição do Curso</th>
    </tr>
  </thead>
  <tbody>
    <!-- Aqui é declarada a váriavel let 
    e essa percorre o array de pessoas.

    Com a váriavel person é possível acessar cada atributo de 
    cada objeto do array people.
  
    AS informações de cada pessoa são exibidas em cada coluna da tabela-->
    <tr *ngFor="let person of people" style="width:100%">
      <td scope="col" >{{person.name}}</td>
      <td scope="col" >{{person.ru}}</td>
      <td scope="col">{{person.course}}</td>
    </tr>
  </tbody>
</table>